In [69]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [106]:
df=pd.read_csv('canada_per_capita_income.csv')
df.head(3)

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484

In [111]:
df.rename(columns={'per capita income (US$)':'per_cap_income'},inplace=True)

df.head(3)

   year  per_cap_income
0  1970     3399.299037
1  1971     3768.297935
2  1972     4251.175484

In [115]:
reg=linear_model.LinearRegression()

reg.fit(df[['year']],df.per_cap_income)

LinearRegression()

In [118]:
reg.predict([[2020]])

array([41288.69409442])